# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.lck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
*-backups
*backups
**/build/
**/releases/
**/lib
**/.vscode/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
2040/hardware/kicad/.history/
2040/software/loadrom.pio/pico/loadrom/loadrom2.c
2040/software/loadrom.pio/pico/loadrom/msx_bus_orig.pio
2040/software/loadrom.pio/pico/loadrom/dist/loadrom.bin
